* {
  padding: 0;
  box-sizing: border-box;
}

.container-fluid {
  padding: 0px!important;
}

.fundo {
  min-height: 100vh;
  background-color: #AFCDDB;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0px 20px;
}

.card {
  width: 300px;
  padding: 10px;
  margin: 15px 15px;
}

.anotacoes-block {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  padding-top: 30px;
}

.botao-adicionar-nota {
  width: 75px;
  height: 75px;
  background-color: #3ddc4c;
  border: none;
  border-radius: 50%;
  color: #fdfdfd;
  font-size: 40px;
  position: absolute;
  right: 35px;
  bottom: 35px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.379);
  position: fixed;
}

.botao-deletar-nota {
  width: 75px;
  height: 75px;
  background-color: #3ddc4c;
  border: none;
  border-radius: 50%;
  color: #fdfdfd;
  font-size: 40px;
  position: absolute;
  right: 130px;
  bottom: 35px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.379);
  position: fixed;

}

.botao-adicionar-nota:hover {
  background-color: #27a734;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.379);
}

.botao-deletar-nota:hover {
  background-color: #27a734;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.379);

}

.input-label-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.input-label {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.input-label input {
  padding: 3px;
  width: 170px;
}

.input-label input[type=color] {
  width: 170px;
  height: 34px;
}

textarea {
  width: 360px;
  padding: 10px;
}

.card-header {
  height: 35px;
}
